<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="author" content="Design: Karel Minařík | www.karmi.cz" />
	<meta http-equiv="imagetoolbar" content="no" />
	
	<title><%= @page_title.nil? ? '' : "#{@page_title} - " %>KRAXNET s.r.o.</title>

  <!-- *CSS* -->
  <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="/stylesheets/handheld.css" type="text/css" media="handheld" />
  <link rel="stylesheet" href="/stylesheets/safari.css" type="text/css" media="screen and min-device-pixel-ratio: 0" />
  <!--[if IE 6]><link rel="stylesheet" href="/stylesheets/msie6.css" type="text/css" media="screen, projection" /><![endif]-->
  <!--[if IE 7]><link rel="stylesheet" href="/stylesheets/msie7.css" type="text/css" media="screen, projection" /><![endif]-->
	
</head>

<body id="body" class="index">

  <div id="page">

  <div id="top_navigation_bar">
    <div>
    <span class="r">&nbsp;</span>
    <span>
      <a href="http://www.kraxnet.cz" title="Kraxnet.cz" id="xnet_logo_small"><img src="/images/xnet_small_logo.png" width="21" height="11" alt="www.kraxnet.cz" title="" /></a>
      <a href="http://www.xnet.cz">Xnet.cz</a>   |   
      <a href="http://admin.xnet.cz">Administrace</a>   |   
      <a href="http://blog.xnet.cz">Blog</a>   |   
      <a href="http://wiki.xnet.cz">XNet Wiki</a>   |   
      <a href="http://www.railshosting.cz">Railshosting.cz</a>
    </span>
    <span class="l">&nbsp;</span>
    </div>
  <hr />
  </div><!-- /top_navigation_bar -->


  <div class="container">

    <div id="header">
      <a href="/"><img src="/images/kraxnet.logo.png" width="141" height="50" alt="Kraxnet Logo" /></a>
    </div><!-- /header -->

    <div id="left">
      <div id="menu">
        <ul>
          <li><a class="<%= css_class_for_menuitem() %>" href="/"><span>Úvod</span><span class="r">&nbsp;</span></a></li>
          <li><a class="<%= css_class_for_menuitem('novinky') %>" href="/novinky"><span>Novinky</span><span class="r">&nbsp;</span></a></li>
          <li><a class="<%= css_class_for_menuitem('historie') %>" href="/historie"><span>Historie</span><span class="r">&nbsp;</span></a></li>
          <li><a class="<%= css_class_for_menuitem('mise-a-vize') %>" href="/mise-a-vize"><span>Mise a&nbsp;vize</span><span class="r">&nbsp;</span></a></li>
          <li><a class="<%= css_class_for_menuitem('clenstvi') %>" href="/clenstvi"><span>Členství</span><span class="r">&nbsp;</span></a></li>
          <li><a class="<%= css_class_for_menuitem('kontakt') %>" href="/kontakt"><span>Kontakt</span><span class="r">&nbsp;</span></a></li>
        </ul>
      </div><!-- /menu -->
    </div><!-- /left -->

    <%= yield %>

    <div class="cleaner">&nbsp;</div>

  </div><!-- /container -->

  <div id="footer">
    <hr class="noprint" />
    <div class="inner">
    <div class="credits">
    <p>&copy; 2008 <a href="http://www.kraxnet.cz" class="external">KRAXNET s.r.o.</a></p>
    <p class="designed_by">Design by <a href="http://www.karmi.cz" class="external">karmi</a></p>
    </div><!-- /credits -->
  <div class="r">&nbsp;</div>
  </div><!-- /inner -->
  </div><!-- /footer -->

  <div id="overlay"></div>

  <div class="clear"></div>

  </div><!-- /page -->
  
</body>
</html>
