<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <title>XNET - Nami provozovane Internetove sluzby</title>
  <meta name="description" content="Description of site">
  <meta name="keywords" content="Keywords">
  <meta name="distribution" content="global">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-language" content="cs">
  <meta http-equiv="imagetoolbar" content="no">
  <link rel="stylesheet" href="kraxnet.css" type="text/css" media="screen">
</head>

<body>
  <table border="0" width="20" bgcolor="#E6E6E6" cellspacing="0" cellpadding="0" align="left">
    <tr>
      <td valign="top"><img src="/images/kraxnet_cz.gif" width="20" height="207" alt="Kraxnet" border="0"></td>
    </tr>
  </table>

  <table border="0" width="130" height="100%" bgcolor="#E6E6E6" cellspacing="0" cellpadding="0" align="left">
    <tr>
      <td valign="top">
        <ul class="menu">
          <li><a href="/historie" id="<%= params[:id]=="historie" ? 'active' : '' %>">Historie</a></li>
          <li><a href="/mise-a-vize" id="<%= params[:id]=="mise-a-vize" ? 'active' : '' %>">Mise a vize</a></li>
          <li><a href="/sluzby" id="<%= params[:id]=="sluzby" ? 'active' : '' %>">Služby</a></li>
          <li><a href="/clenstvi" id="<%= params[:id]=="clenstvi" ? 'active' : '' %>">Členství</a></li>
          <li><a href="/kontakt" id="<%= params[:id]=="kontakt" ? 'active' : '' %>">Kontakt</a></li>
        </ul>
      </td>
    </tr>
  </table>

  <table border="0" width="6" height="100%" cellspacing="0" cellpadding="0" align="left" background="/images/lines.gif">
    <tr>
      <td background="/images/lines.gif" height="1200"><img src="/images/lines.gif" alt="" border="0"></td>
    </tr>
  </table>

  <table border="0" width="550" height="100%" cellspacing="0" cellpadding="0" align="left" bgcolor="#FFFFFF">
    <tr>
      <td valign="top">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="3" height="10"><font size="1">&nbsp;</font></td>
          </tr>

          <tr>
            <td><img src="/images/hline1.gif" width="20" height="40" alt="" border="0"></td>

            <td><img src="/images/hline2.gif" width="429" height="40" alt="" border="0"></td>

            <td><img src="/images/logo.gif" width="101" height="40" alt="Kraxnet logo" border="0"></td>
          </tr>

          <tr>
            <td valign="top"><img src="/images/vline1.gif" width="20" height="200" alt="" border="0"><br>
            <img src="/images/vline2.gif" width="20" height="43" alt="" border="0"></td>

            <td colspan="2"><%= yield %></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table border="0" width="10" height="100%" cellspacing="0" cellpadding="0" align="left" background="http://www.kraxnet.cz/images/lines.gif">
    <tr>
      <td background="/images/lined.gif" height="1200"><img src="/images/lined.gif" width="10" height="100%"></td>
    </tr>
  </table>
</body>
</html>
